body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

.navbar.dark-theme {
  background-color: #1e1e1e;
  color: white;
}

body.dark-theme {
  background-color: #121212;
  color: white;
}

#root{
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navbar {
  font-size: 1rem;
}

.search-bar {
  font-size: 1rem;
}
